.card {
  padding: 15px;
  margin: 20px;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 10px 6px 10px rgba(0, 0, 0, 0.25),
    inset 10px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.5s;
}
.card:hover {
  box-shadow: 20px 26px 10px rgba(0, 0, 0, 0.4),
    inset 10px 6px 10px rgba(0, 0, 0, 0.25);
  transform: scale(1.05);
}
.card h1 {
  color: rgb(0, 0, 0);
  text-align: center;
  user-select: none;
}
.card img {
  display: grid;
  margin: auto;
  width: 200px;
}
.card span {
  display: flex;
  justify-content: center;
}
.types {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.types span {
  padding: 5px 20px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}

.grass {
  background-color: #9bcc50;
}
.fire {
  background-color: #ff7402;
}
.steel {
  background-color: #9eb7b8;
}
.water {
  background-color: #4592c4;
}
.psychic {
  background-color: #f366b9;
}
.ground {
  background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
}
.ice {
  background-color: #51c4e7;
}
.flying {
  background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
}
.ghost {
  background-color: #7b62a3;
}
.normal {
  background-color: #a4acaf;
}
.poison {
  background-color: #7e0058;
}
.rock {
  background-color: #a38c21;
}
.fighting {
  background-color: #d56723;
}
.dark {
  background-color: #707070;
}
.bug {
  background-color: #729f3f;
}
.dragon {
  background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
}
.electric {
  background-color: #bba909;
}
.fairy {
  background-color: #fdb9e9;
}
.shadow {
  background-color: #7b62a3;
}
.unknow {
  background-color: #757575;
}
