.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search input {
  margin-right: 1rem;
  font-size: 1rem;
  padding: 0.5rem;
  outline: none;
  border-radius: 0.5rem;
}

.button button {
  margin-right: 1rem;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-weight: bold;
  background-color: rgb(237, 241, 7);
}

.search button:active {
  opacity: 0.5;
}

@media (max-width: 700px) {
  .search {
    flex-direction: column;
  }
  .button {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }
  .button button {
    margin: 1rem;
  }
}
