.container {
  display: grid;
  place-items: center;
  height: 100vh;
}
.error h1 {
  font-size: 15rem;
  text-shadow: 5px 5px 3px rgb(211, 194, 12);
}
.error img {
  width: 55rem;
  filter: drop-shadow(15px 15px 3px rgb(211, 194, 12));
}
.error button {
  margin: 1rem;
  cursor: pointer;
  border: none;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-weight: bold;
  background-color: rgb(237, 241, 7);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
  transition: all .2s ease-in-out;
}
.error button:hover {
  background-color: rgb(118, 120, 2);
  color: #fff;
}
.error button:active {
  opacity: 0.5;
}

@media (max-width: 500px) {
  .error {
    padding: 0 0.5rem;
  }
  .error h1 {
    font-size: 5rem;
  }
  .error img {
    width: 10rem;
  }
  .error button {
    font-size: 1rem;
  }
}
