.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.noFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 12rem;
}
.noFound img {
  width: 10rem;
  animation: spin 2s ease-in-out infinite;
}
@keyframes spin {
  0% {
    transform: translate(-10px, 0) rotate(-30deg);
  }
  50% {
    transform: translate(10px, 0) rotate(30deg);
  }
  100% {
    transform: translate(-10px, 0) rotate(-30deg);
  }
}

.lista {
  display: flex;
  justify-content: center;
}
.arrow {
  margin: 0.5rem 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  background-color: rgb(237, 241, 7);
  border-radius: 0.3rem;
  border: none;
  box-shadow: 5px 6px 8px rgba(0, 0, 0, 0.5),
    inset 10px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
}
.arrow:active {
  opacity: 0.5;
}
.arrow img {
  width: 1rem;
}
.pages {
  margin: 0.5rem 0.5rem;
  font-size: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  outline: none;
  background-color: rgb(237, 241, 7);
  font-weight: bold;
  border-radius: 0.3rem;
  border: none;
  box-shadow: 5px 6px 8px rgba(0, 0, 0, 0.5),
    inset 10px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
}

.pages:hover {
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.4),
    inset 10px 6px 10px rgba(0, 0, 0, 0.25);
  transform: scale(1.05);
}
.pages:active {
  opacity: 0.5;
}

.active {
  background-color: rgb(101, 102, 8);
  color: white;
  transform: scale(1.5);
}

@media (max-width: 1280px) {
  .container {
    padding-bottom: 100px;
  }
  .pages {
    margin: 0.5rem;
  }
}
@media (max-width: 500px) {
  .container {
    padding-bottom: 100px;
  }
  .pages {
    display: none;
  }
}
