.container {
  background: url(../../img/fondo-pokemon.jpg) center center;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  place-items: center;
}

.container div {
  border-radius: 3rem;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 10px 16px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.landing {
  display: flex;
}

.introLanding {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.introLanding button{
  margin: 1rem;
}

.container img {
  width: 40rem;
}

.container h1 {
  font-size: 3rem;
}

.container button {
  width: 10rem;
  height: 3rem;
  border: 1px solid rgb(163, 159, 24);
  border-radius: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  background-color: rgba(231, 225, 39, 0);
  transition: 0.2s;
}

.container button:hover {
  width: 15rem;
  background-color: rgb(0, 0, 0);
  color: #fff;
}

.container button:active {
  opacity: 0.8;
}

@media only screen and (max-width: 480px) {
  /* Estilos para dispositivos móviles */
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  /* Estilos para tabletas */
  .landing {
    /* flex-direction: column-reverse; */
  }
  .container img {
    width: 20rem;
  }
  .container h1 {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  /* Estilos para Laptos */
  .container img {
    width: 30rem;
  }
}
