.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background: #424242 url(../../img/fondoBar.png);
  box-shadow: 0 8px 2px rgba(0, 0, 0, 0.25);
}
.navbar img {
  width: 8rem;
}
.burguer {
  display: flex;
  justify-content: flex-end;
}
.search{
  display: flex;
  justify-content: center;
  align-items: center;
}
.links {
  display: flex;
  text-align: center;
  justify-content: center;
}
.links .link {
  color: #fff;
  text-decoration: none;
}
.link {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0.5rem;
  padding: 0.5rem;
}
.link:hover {
  background-color: #424242;
  border-radius: 1rem;
}
@media (max-width: 900px) {
  .links {
    display: flex;
    flex-direction: column-reverse;
  }
  .link {
    font-weight: bold;
    font-size: 1rem
  }
  .active {
    position: absolute;
    top: -30%;
  }
}

@media (min-width: 900px) {
  .burguer {
    display: none;
  }
}
